@media (max-width: 1749px) {
  .projects__card img {
    max-width: 100%;
  }
  .nav {
    margin-top: 6%;
  }
}

@media (max-width: 1385px) {
  .header__box--left {
    padding-right: 300px;
  }
}

@media (max-width: 1366px) {
  .header__search-form {
    left: 65%;
  }
}

@media (max-width: 1335px) {
  .header__box--left {
    padding-right: 250px;
  }
}

@media (max-width: 1289px) {
  .sales-leaders__items {
    justify-content: center;
  }
  .new-items__items {
    justify-content: center;
  }
}

@media (max-width: 1236px) {
  .header__box--left {
    padding-right: 150px;
  }
}


@media (max-width: 1240px) {
  .header__search-form {
    width: 400px;
  }
}

@media (max-width: 1136px) {
  .header__box--left {
    padding-right: 50px;
  }
  .header__search-form {
    width: 300px;
  }
}

@media (max-width: 1035px) {
  .header__menu {
    display: none;
  }
  .header__search-form {
    left: 50%;
  }
  .collections {
    padding-bottom: 0;
  }
  .categories__inner {
    height: 40px;
  }
  .categories__inner--left,
  .categories__inner--right {
    display: none;
  }
  .collections__item-wrapper {
    flex-wrap: wrap;
  }
  .collections__item-left {
    max-width: 100%;
  }
  .collections__item-right {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .collections__item-right__inner {
    padding-top: 10%;
  }
  .new-items {
    padding: 0;
  }
  footer__item {
    padding: 15px 15px;
  }
}

@media (max-width: 774px) {
  .menu-item.delivery {
    display: none;
  }
  .header__search-form {
    width: 150px;
  }
  .collections__item-right {
    max-width: 100%;
    flex-direction: column;
  }
  .collections__item-right__img img,
  .projects__card-inner img {
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  .footer__inner {
    padding: 100px 80px 0;
  }
}

@media (max-width: 700px) {
  .header__phone {
    display: none;
  }
  .header__box--left {
    padding-right: 210px;
  }
}

@media (max-width: 600px) {
  .slider__item-info,
  .collections__item-left__info {
    left: 50px;
  }
  .footer__inner {
    padding: 100px 15px 0;
  }
}

@media (max-width: 550px) {
  .header__search-form {
    left: 55%;
    width: 100px;
  }
  .header__box--left {
    padding-right: 160px;
  }
  .header__btn-menu.icon-user {
    display: none;
  }
  .slider__title,
  .collections__item-left__title {
    font-size: 50px;
    line-height: 60px;
    max-width: 300px;
  }
}

@media (max-width: 500px) {
  .header__search-form {
    left: 60%;
    width: 90px;
  }
  .header__btn-menu {
    margin-left: 25px;
  }
}

@media (max-width: 414px) {
  .header__logo {
    font-size: 14px;
  }
  .header__search-form {
    left: 55%;
  }
}

@media (max-width: 400px) {
  .header__box--left {
    padding-right: 130px;
  }
}

@media (max-width: 375px) {
  .slider__title,
  .collections__item-left__title {
    font-size: 40px;
    line-height: 50px;
    max-width: 280px;
  }
  .slider__item-info,
  .collections__item-left__info {
    left: 10px;
  }
  .header__search-form {
    left: 50%;
  }
  .header__search-form::before {
    content: '';
  }
}

@media (max-width: 365px) {
  .header__box--left {
    padding-right: 40px;
  }
  .header__box--left.active {
    padding-right: 93px;
  }
}




